Repository Giratena/Succubus-Duel-English-Translation, pull requests merged in 2024-08, with the labels that each got.

#45 (Ready) Flare (70009)
  CSV/Language/English/Card/70009.txt
Labels: card master

#56 (Ready) Eruru and Octa translation 70006 and 70014 PR
  CSV/Language/English/Card/70006.txt
  CSV/Language/English/Card/70014.txt
Labels: card master

#74 (Ready) Melty Slime 10008.txt
  CSV/Language/English/Card/10008.txt
Labels: enemy card

#106 (Ready) Pink Slime Girl (10008)
  CSV/Language/English/Card/10005.txt
Labels: enemy card

#157 (Ready) finished morugan entrance translation!
  CSV/Language/English/Place/MorugenEntrance.txt
Labels: Location

#137 (Ready) Translate Cheeky Trickster - Carol (10017)
  CSV/Language/English/Card/10017.txt
  CSV/Language/English/Card/70006.txt
Labels: enemy card

#155 (Ready) Mushroom Girl
  CSV/Language/English/Card/10031.txt
Labels: enemy card
